{% extends "base.html" %}

{% block title %}
    Store - Изменение статуса
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="{{ url_for('change_status', user_id=user_id) }}" method="post">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Выберите статус</label>
                        <select class="form-control" name="status" id="exampleFormControlSelect1">
                            <option value="0" selected>1 - Заблокирован</option>
                            <option value="1">2 - Пользователь</option>
                            <option value="2">3 - Менеджер</option>
                            <option value="3">4 - Администратор</option>
                        </select>
                    </div>
                    <a href="{{ url_for('user_info', user_id=user_id) }}" class="btn btn-light">Отмена</a>
                    <button type="submit" class="btn btn-warning">Изменить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
