{% extends "base.html" %}

{% block title %}
    Store - Сообщения
{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <span class="list-group-item"><b>Личный кабинет</b></span>
                    <a href="{{ url_for('lk_orders') }}" class="list-group-item list-group-item-action">
                        Мои заказы
                    </a>
                    <a href="{{ url_for('lk_msg') }}" class="list-group-item list-group-item-action active">Сообщения     <span class="badge badge-light">{{ current_user.unread }}</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Бонусы</a>
                    <a href="{{ url_for('lk_pass') }}" class="list-group-item list-group-item-action">Сменить пароль</a>
                    <a href="{{ url_for('manager_panel') }}" class="list-group-item list-group-item-action">Панель менеджера</a>
                </div>
            </div>
            <div class="col-md-9">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Дата сообщения</th>
                        <th scope="col">Тип</th>
                        <th scope="col">Сообщение</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for msg in messages %}
                        <tr>
                            <th scope="row">{{ msg.id }}</th>
                            <td>{{ msg.date }}</td>
                            {% if msg.type == 1 %}
                                <td class="blue">Оповещение</td>
                            {% elif msg.type == 2 %}
                                <td class="green">Подтверждение</td>
                            {% else %}
                                <td class="red">Ошибка</td>
                            {% endif %}
                            <td>{{ msg.message }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
