{% extends "base.html" %}

{% block title %}
    Store - Мои заказы
{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <span class="list-group-item"><b>Личный кабинет</b></span>
                    <a href="{{ url_for('lk_orders') }}" class="list-group-item list-group-item-action active">
                        Мои заказы
                    </a>
                    <a href="{{ url_for('lk_msg') }}" class="list-group-item list-group-item-action">Сообщения     <span class="badge badge-light">{{ current_user.unread }}</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Бонусы</a>
                    <a href="{{ url_for('lk_pass') }}" class="list-group-item list-group-item-action">Сменить пароль</a>
                    {% if current_user.role > 1 %}
                        <a href="{{ url_for('manager_panel') }}" class="list-group-item list-group-item-action">Панель менеджера</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№ заказа</th>
                        <th scope="col">Товары</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <th scope="row">{{ order[0].id }}</th>
                            <td>{{ order[2] }}</td>
                            <td>{{ order[1] }} р.</td>
                            {% if order[0].status == 0 %}
                                <td><span class="blue">Готовится</span></td>
                            {% elif order[0].status == 1 %}
                                <td><span class="yellow">В пути</span></td>
                            {% elif order[0].status == 2 %}
                                <td><span class="green">Доставлено</span></td>
                            {% elif order[0].status == 3 %}
                                <td><span class="red">Отменен</span></td>
                            {% endif %}
                            <td><a href="#">Подробности</a>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
