<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
      <title>Welcome home, master</title>
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
      <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <div>

      <h1></h1>
    </div>
    <div>
      <h1>SHD одобряет!</h1>
    </div>


    <main role="main">





      <div class="container marketing">
          <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/img/tapki.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Тапки Руслана</h2>
            <p>Новые тапки от Рус-кож-пром-комбинат, натуральная кожа, отличное качество</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/img/broken.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Mac book Егора</h2>
            <p>Бесполезный кусок микросхемок и проводков, работает с пол пинка, нельзя играть в игры</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/img/Res.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Пакет задач и проектов Яндекс Лицей</h2>
            <p>Полный сборник всех-всех работ необходимых для успешного обучения (без труда) в Яндекс Лицее</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
          <hr class="featurette-divider">
          <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Вы преподаватель в Яндекс Лицее? <span class="text-muted">Честно, здесь нет багов</span></h2>
            <p class="lead">Все права защищены</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="static/img/Zas3.jpg" alt="Generic placeholder image">
          </div>
        </div>
          <hr class="featurette-divider">
          <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Отличный выбор для всей семьи <span class="text-muted">Всего за пару баллов рейтинга</span></h2>
            <p class="lead"> Здесь вы найдете и сковродку бабушке, и утюг маме, и даже игры для MacOs </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="static/img/zas2.jpg" alt="Generic placeholder image">
          </div>
        </div>
          <hr class="featurette-divider">
          <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Membership <span class="text-muted">Только до 30 апреля</span></h2>
            <p class="lead">Если вы хотите стать партнером проекта, необходимо пройти собеседование и произвести членский взнос (100 баллов за проект)</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="static/img/zas.jpg" alt="Generic placeholder image">
          </div>
        </div>
          <hr class="featurette-divider">
      </div>
        <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Dungeon, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Policy</a></p>
      </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
{% endblock %}
