{% extends "base.html" %}

{% block title %}
    Store - Поиск
{% endblock %}

{% block content %}
    <br>
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-2 centered">
                <h4>Фильтры</h4>
                <form action="#" method="post">
                    <div class="form-group container-fluid">
                        <div class="row">
                            <div class="col-md-4 offset-md-1 lefted">
                                <h6>Размер</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        XS
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        S
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck3">
                                        M
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                    <label class="form-check-label" for="defaultCheck4">
                                        L
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                    <label class="form-check-label" for="defaultCheck5">
                                        XL
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group container-fluid">
                        <div class="row">
                            <div class="col-md-4 offset-md-1 lefted">
                                <h6>Размер</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                    <label class="form-check-label" for="defaultCheck6">
                                        XS
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                                    <label class="form-check-label" for="defaultCheck7">
                                        S
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                                    <label class="form-check-label" for="defaultCheck8">
                                        M
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                                    <label class="form-check-label" for="defaultCheck9">
                                        L
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                    <label class="form-check-label" for="defaultCheck10">
                                        XL
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group container-fluid">
                        <div class="row">
                            <div class="col-md-4 offset-md-1 lefted">
                                <h6>Размер</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                    <label class="form-check-label" for="defaultCheck6">
                                        XS
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                                    <label class="form-check-label" for="defaultCheck7">
                                        S
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                                    <label class="form-check-label" for="defaultCheck8">
                                        M
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                                    <label class="form-check-label" for="defaultCheck9">
                                        L
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                    <label class="form-check-label" for="defaultCheck10">
                                        XL
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group container-fluid">
                        <div class="row">
                            <div class="col-md-4 offset-md-1 lefted">
                                <h6>Размер</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                    <label class="form-check-label" for="defaultCheck6">
                                        XS
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                                    <label class="form-check-label" for="defaultCheck7">
                                        S
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                                    <label class="form-check-label" for="defaultCheck8">
                                        M
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                                    <label class="form-check-label" for="defaultCheck9">
                                        L
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                    <label class="form-check-label" for="defaultCheck10">
                                        XL
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning">Отфильтровать</button>
                </form>
            </div>
            <div class="col-md-10 lefted">
                <h2>Поиск "{{ search_query }}"</h2>
                <div id="sort">
                    Сортировать
                    <a href="#">по цене</a>
                    <a href="#">по рейтингу</a>
                    <a href="#">по отзывам</a>
                    <a href="#">по релевантности</a>
                </div>
                <div class="container-fluid">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% for i in range(len // 6 + 1) %}
                        <div class="row">
                            {% for j in range(6) %}
                                {% if i * 6 + j < len %}
                                    <div class="col-md-2 centered">
                                        <a href="{{ url_for('product', id=products[i * 6 + j][0].id) }}"><img src="{{ url_for('static', filename='upload_img/' + products[i * 6 + j][0].image_url) }}" width="180" height="240" alt=""></a>
                                        <table class="product-bar">
                                            <tr>
                                                <td class="price">{{ products[i * 6 + j][1] }} р.</td>
                                                <td class="rightcol"><a href="{{ url_for('add_cart', id=products[i * 6 + j][0].id) }}"><img class="righted" src="{{ url_for('static', filename='img/basket-plus.svg') }}" alt="" width="16" height="16"></a></td>
                                            </tr>
                                        </table>
                                        {% if products[i * 6 + j][0].discount != 0 %}
                                            <p style="margin-bottom: 0;"><s>{{ products[i * 6 + j][0].price }} р.</s> <span class="badge badge-danger">-{{ products[i * 6 + j][0].discount }}%</span></p>
                                        {% endif %}
                                        <p><b>{{ products[i * 6 + j][0].name }}</b></p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-4 offset-md-4 centered">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
